{# src/Bones/YummBundle/views/Page/about.html.twig #}
{% extends 'BonesYummBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
	<header>
		<h1>About Meat on your Bones</h1>
		<article>
			<p>Recipe scraping site.
			</p>
		</article>
	</header>
{% endblock %}